<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>CRUDforTask</title>
</head>
<body>
<h1　th:text="${title}">ようこそ</h1>
<div  th:if="${taskForm.isNewTask}" >
<form method="post" action="#" th:action="@{/task}" th:object="${taskForm}">
	<label>タスクタイプ（選択してください）</label>
	<select name="typeId">
	<option value="1">緊急</option>
	<option value="2">重要</option>
	<option value="3">できれば</option>
	</select>
	<div th:if="${#fields.hasErrors('typeId')}" th:errors="*{typeId}"></div>
	<label>やること</label>
	<input type="text" name="title" th:value="*{title}" />
	<div th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
	<label>詳細</label>
	<input type="text" name="detail" th:value="*{detail}" />
	<div th:if="${#fields.hasErrors('detail')}" 
	th:errors="*{deadline}"></div>
	<label>期限</label>
	<input type="datetime-local" name="deadline">
	<div th:if="${#fields.hasErrors('deadline')}" 
	th:errors="*{deadline}"></div>
	<input type="submit" value="送信">
</form>
<table>
<tr th:each="obj : ${list}">
	<td th:text=${obj.id}></td>
	<td th:text=${obj.title}></td>
	<td th:text=${obj.deadline}></td>
	<td th:text=${obj.taskType.type}></td>
	<td><a type="button" th:href="@{/task/{id}(id=${obj.id})}">編集</a></td>
	<td><form method="POST" th:action="@{/task/delete/{id}(id=${obj.id})}">
		<input type="hidden" name="_method" value="DELETE">
		<input type="submit" value="削除">
	</form>
</tr>
</table>
</div>

<form method="POST" th:action="@{/task/update/{id}(id=${taskId})}" th:unless="${taskForm.isNewTask}" th:object="${taskForm}">
	<label>タスクタイプ（選択してください）</label>
	<select name="typeId">
	<option value="1">緊急</option>
	<option value="2">重要</option>
	<option value="3">できれば</option>
	</select>
	<div th:if="${#fields.hasErrors('typeId')}" th:errors="*{typeId}"></div>
	<label>やること</label>
	<input type="text" name="title" th:value="*{title}" />
	<div th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
	<label>詳細</label>
	<textarea name="detail" rows="4" cols="40"  th:field="*{detail}">ここに感想を記入してください。</textarea>
	<div th:if="${#fields.hasErrors('detail')}" 
	th:errors="*{deadline}"></div>
	<label>期限</label>
	<input type="datetime-local" name="deadline" th:field="*{deadline}">
	<div th:if="${#fields.hasErrors('deadline')}" 
	th:errors="*{deadline}"></div>
	<p  th:text="*{deadline}"></p>
	<input type="hidden" name="_method" value="PUT">
	<input type="submit" value="変更">
</form>
<p><a href="#" th:href="@{/task}">戻る</a></p>
<table border="1">

<form action="#" th:action="@{/logout}" method="POST">
	<input type="submit" value="Logout" />
</form>
</body>
</html>